@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #4292C6;
    --primary-color-dark: #08306b;
    --secondary-color: #c6dbef;
    --text-dark: #1f2937;
    --text-light: #04276d;
    --extra-light: #deebf7;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}
nav {
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: whitesmoke;
    z-index: 99;
}

.nav__content {
    max-width: var(--max-width);        
    margin:auto;
    padding:1.5rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}   

nav .logo a {
    font-size:1.5rem;
    font-weight:600;
    color: var(--primary-color);
    transition: .3s;
}
nav .logo a:hover {
    color: var(--primary-color-dark);   
}

nav .checkbox {
    display:none;   
}

nav input {
    display:none;
}
nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
ul {
    display:flex;
    align-items: center;
    gap: 1rem;
    list-style:none;
    transition: left 0.3s;   
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration:none;
    font-weight: 600;
    color:var(--text-dark);
    transition: 0.3s; 
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color:var(--secondary-color);
}
.home-section {
    position: relative;
    background: url('japan2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.home-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--extra-light), var(--secondary-color), var(--primary-color));
    opacity: 0.8; 
    z-index: 1;
}

.home-section > * {
    position: relative;
    z-index: 2; 
}
.home-container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin:auto;
    padding:1rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.content {
    display:flex;
    flex-direction: column;
    justify-content: center;  
      
}
.subtitle {
    letter-spacing: 8px;
    color: var(--text-light);
    font-weight:800;
    margin-bottom: 1rem;
    font-size: 30px;
}
.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.title span {
    font-weight:600;   
}
.description {
    line-height: 1.5rem;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
    align-items: center;
    text-align: justify;
}
.icons {
    display:flex;
    gap:1rem;
}
.icons a {
    font-size: 2rem; 
    font-weight: 600;
    letter-spacing: 2px;
    width: 3.5rem; 
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: var(--extra-light);
    background: radial-gradient(circle, var(--primary-color-dark), var(--primary-color)) ;
    border-radius: 50%; 
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none; 
    border: 2.5px solid var(--primary-color); 
}
.image {
    display:grid;
    place-items: center;
}
.image img {
    width: min(25rem, 90%);
    border-radius: 50%;
    border: 5px solid #08306b;
}
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    padding: 6rem 1rem;
    position: relative;
    background: url('japan1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
.about-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--extra-light), var(--secondary-color), var(--primary-color));
    opacity: 0.6; 
    z-index: 1;
}
.about-section > * {
    position: relative;
    z-index: 2; 
}
.about-container {
    min-height: 100vh;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
    padding: 3rem; 
    margin:auto;
    width: 100%;
    gap: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
}

.about1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    max-width: auto;
}

.about-container p{
    flex: 2; 
    text-align: justify;
    font-size: 1.2rem;
    color: var(--text-dark);
    line-height: 1.6;
}

.about-image {
    max-width: 400px; 
    width: 100%;
    height: auto;
    border: 2px solid var(--primary-color-dark);
    border-radius: 10px; 
    margin-top: 1rem;
}

.about2 {
    max-width: auto;
    text-align: left;
    margin-top: 1rem;
}
.about3 video{
    margin-top: 2rem;
    width: 800px;
    max-width: auto;
    height:auto;
    border: 3px solid var(--primary-color-dark);
    border-radius: 10px;
}
.about3 img{
    margin-top: 3rem;
    width: 800px;
    max-width: auto;
    height:auto;
    border: 3px solid var(--primary-color-dark);
    border-radius: 10px;
}
.about3 h3{
    margin-top: 3rem;
}
.profile-section {
    padding: 80px 20px;
    text-align: center;
    position: relative;
    background: url('japan1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.profile-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--extra-light), var(--secondary-color), var(--primary-color));
    opacity: 0.6; 
    z-index: 1;
}
.profile-section > * {
    position: relative;
    z-index: 2; 
}
.profile-container {
    min-height: 100vh;
    max-width: 90vw;
    width: 100%; 
    margin: auto;
    display: grid;
    place-items: center;
    align-content: center;
    padding: 6rem;
}

.profile-container h2 {
    font-size: 2.2rem; 
    font-weight: 700; 
    color: var(--primary-color-dark);
    margin-bottom: 1.5rem;
}
.profile-container p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
}
.info {
    background-color: whitesmoke;
    max-width: var(--max-width);
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.info h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color-dark);
    margin-bottom: 1rem;
    text-align: center;
}

.info strong {
    font-size: 1rem;
    color: var(--primary-color);
}

.info p {
    font-size: 1rem;
    color: var(--text-dark);
    margin-bottom: 0.8rem;
}

.info a {
    font-size: 1rem;
    color: var(--primary-color-dark);
    text-decoration: none;
}

.info a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
.info i{
    color: var(--primary-color-dark);
    font-size: 1rem;
}

@media (max-width: 750px) {
    .info {
        padding: 1.5rem;
        text-align: center;
    }
    
    .info strong,
    .info p,
    .info a {
        font-size: 0.9rem;
    }
}
.favorites-section {
    padding: 6rem 1rem; 
    text-align: center;
    margin-top: 3rem; 
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    position: relative;
    background: url('japan1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
.favorites-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, var(--primary-color), var(--secondary-color), var(--extra-light));
    opacity: 0.6; 
    z-index: 1;
}
.favorites-section > * {
    position: relative;
    z-index: 2; 
}
.favorites-section h2 {
    font-size: 2.2rem; 
    font-weight: 700; 
    color: var(--primary-color-dark);
    margin-bottom: 1.5rem;
}

.favorites-container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.favorite-item {
    background: #fff;
    padding: 1.5rem; 
    border-radius: 12px;
    margin-bottom: 3rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.favorite-item img {
    width: 100%;
    height: 220px; 
    object-fit: cover;
    border-radius: 10px;
}
.favorites-section audio{
    width: 230px;
    height: 40px;
}
.favorite-item p {
    margin-top: 0.7rem;
    font-size: 1.1rem; 
    font-weight: 500;
    color: var(--text-dark);
}
.favorite-item:hover {
    transform: scale(1.07); 
}
#about, #favorites {
    display: none;
}
.education-section {
    position: relative;
    padding: 6rem 1rem; 
    text-align: center;
    margin-top: 3rem; 
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    background: url('japan1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.education-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, var(--primary-color), var(--secondary-color), var(--extra-light));
    opacity: 0.6; 
    z-index: 1;
}

.education-section > * {
    position: relative;
    z-index: 2; 
}

.education-section h2 {
    font-size: 2.2rem; 
    font-weight: 700; 
    color: var(--primary-color-dark); 
    margin-bottom: 1.5rem;
}

.education-container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
}
.education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}
.school {
    background: var(--extra-light);
    padding: 1.5rem; 
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.school img {
    width: 100%;
    height: 220px; 
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid var(--primary-color-dark);
}
.school p1 {
    font-size: 1.5rem;
    font-weight:600;
    color: var(--primary-color-dark);
}
.school p {
    margin-top: 0.7rem;
    font-size: 1rem; 
    font-weight: 500;
    color: var(--text-dark);
}

.school:hover {
    transform: scale(1.07); 
}
@media (width < 750px) {
    nav .checkbox {
        display: block;  
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction:column;
        justify-content: center;
        gap: 3rem;  
    }

    nav #check:checked ~ ul {
        left:0;  
    }

    ul li a {
        font-size: 1.25rem; 
    }
    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align:center;
        grid-template-columns: repeat(1, 1fr);   
    }
    .image {
        grid-area: 1/1/2/2;    
    }
    .icons {
        margin:auto;
    }
}
